<div class="features">

    {% for feature in site.features %}

    {% if feature.title %}
    <div class="feature">
        <div>
            <span class="fa-stack fa-1x">
                <i class="iconBack fas fa-circle fa-stack-2x"></i>
                <i class="iconTop fas fa-{{ feature.fontawesome_icon_name }} fa-stack-1x"></i>
            </span>
        </div>
        <div class="featureText">
            <h3>
                {{ feature.title }}
            </h3>
            <p>
                {{ feature.description }}
            </p>
        </div>
    </div>
    {% endif %}

    {% endfor %}

</div>

<div class="screenshots">
    <div class="screenshots-block">
        <div class="screenshots-block_description">
            <h3>LEARN ENGLISH WHILE SOLVING CROSSWORDS</h3>
            <p>
                In this fantastic crossword game, you will improve your vocabulary and spelling skills at the same time.
            </p></div>
        <div class="screenshots-block_picture"></div>
    </div>

    <div class="screenshots-block">
        <div class="screenshots-block_picture"></div>
        <div class="screenshots-block_description">
            <h3>TEST YOUR VOCABULARY</h3>
            <p>
                How many words do you actually know? Your alphabet may be more limited than you think...or maybe not!
                These puzzles are challenging and will test how broad your vocabulary is, how you combine different
                options, and if you can search well enough to solve the jigsaw
            </p>
        </div>
    </div>

</div>